html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: white;
  }

  #logo {
    margin-left: 8px;
    margin-right: 8px;
    width: 4rem;
    height: 4rem;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  main {
    padding-top: 4rem;
  }

  #board_id {
    margin-right: 20px;
    margin-left: auto;
  }


  h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 1.414rem;
  }

  /* LANDING PAGE */

  #container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: calc(100vh - 2rem);
      background-color: #4A4A4A;
  }

  .landing_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vmin;
    height: 50vmin;
  }

  .landing-button:hover {
    cursor: pointer;
  }

  #plus {
    font-size: 10rem;
    line-height: 6rem;
  }

  #container a {
    text-decoration: none;
    color: saddlebrown;
  }

  #create {
    background:#151515;
    opacity: 0.8;
  }

  #join {
    background: #151515;
    color: saddlebrown;;
    opacity: 0.8;
   }

   #board_id {
    font-size: 1rem;
    width: auto;
    margin-bottom: 16px;
  }

  @media all and (min-width: 600px) {
    #container {
      flex-direction: row;
    }

    .landing_button {
      width: 45vw;
      height: calc((90vw - 4rem) / 2);
    }

    #plus {
      font-size: 15rem;
      line-height: 8.5rem;
    }

    #board_name {
      font-size: 1.2rem;
      margin-bottom: 10px;
      width: auto;
    }
  }

  /* Board PAGE */

   .board_container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
  }

   .board {
    width: calc(100vw - 64px);
  margin-left: 32px;
  margin-bottom: 32px;
  padding: 8px;
  min-height: 20vh;
    }

    .board > h2 {
      text-align: center;
      color: whitesmoke;
    }

    #board--names {
      background: #646464;
    }

    #board--dobs {
      background: #5C5C5C;
    }

    #board--starsigns {
      background: #4A4A4A;
    }
    #board--horoscopes {
      background: #383838;
    }

    @media all and (min-width: 800px) {
      .board_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 32px;
      }

      .board {
        min-height: 80vh;
        padding: 8px;
        border: 1px white solid;
        margin: 0;
      }
    }

    #add_bday {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      background-color: #151515;
      padding: 8px;
      transition: 0.5s;
    }

    .hidden {
      transform: translateY(100%);
    }

    .drawer-button {
      position: absolute;
      top: -96px;
      right: 16px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      background: #257edd;
      font-size: 3em;
      border-radius: 50%;
      color: #fcfcf7;
      border: none;
      transition: 0.5s;
      border: 5px solid rgba(255, 255, 255, 0.5);
    }

    .drawer-button:focus {
      outline: none;
      background: #89ba1f;
    }

    #add_bday > form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: calc(100% - 32px);
      max-width: 500px;
      margin: 0 auto;
    }

    #add_bday > form > input[type='text'] {
      width: 100%;
      margin-bottom: 16px;
      padding: 4px;
    }

  button[type='submit'] {
    background: yellowgreen;
    font-size: 1em;
    margin-top: 20px;
    height: calc(1em + 32px);

  }

  button[type='submit']:focus,
  button[type='submit']:hover {
    background: #257edd;
  }

  ul > li {
    font-size: 0.7rem;
    min-height: 8.5vw;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #zodiacImg {
    width: 60px;
  }

  #board--names > ul > li {
    background: #bc3232;
  }

  #board--dobs > ul > li {
    background: #89ba1f;
  }

  #board--starsigns > ul > li {
    background: #257edd;
  }

  #board--horoscopes> ul > li {
    background: #25ddaf;
  }


